.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.container {
  max-width: 1024px;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, rgb(58, 67, 84), black 65%);
}

.image {
  position: absolute;
  z-index: 1;
}

.image > img {
  width: 100%;
  height: auto;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

/* About me */
.about-me {
  position: absolute;
  color: goldenrod;
  z-index: 2;
}

/* Plant animations */
.plant-container {
  display: inline-block;
  overflow: hidden;
}

.plant {
  animation: wind 4s infinite alternate ease-in-out;
  will-change: transform;
}

@keyframes wind {
  0%,
  100% {
    transform: rotate(0) scale(1);
  }
  50% {
    transform: rotate(3deg) scale(1.02);
  }
}
